input {
	background-color: transparent !important;
	outline: none;
}

.container-login {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://cutewallpaper.org/21/spiderman-logo-wallpapers/HD-Spiderman-Logo-Wallpaper.jpg");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}

form {
	width: 270px;
	align-self: center;
}

.alert {
	padding: 0.2rem 0.2rem;
}

.alert-danger {
	background-color: #0e0e0e;
	color: red;
	border: 0.1rem solid red;
}

button {
	background-color: #2b3784;
}
