.progress {
	background-color: #283747 !important;
	max-width: 600px;
	float: center;
	margin: 0 auto;
	margin-bottom: 0.8rem;
}

.progress-bar {
	background-color: #ff0000;
}

h6 {
	font-size: 1rem !important;
}

.stats-container {
	width: 100%;
}
